<template name="home">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Local Communities</h2>
        <hr class="primary">
      </div>
    </div>
    <div class="row cities">
      <div class="col-sm-4">
        <div class="block-city helsinki">
          <h1>Helsinki</h1>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="block-city tampere">
          <h1>Tampere</h1>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="block-city mikkeli">
          <h1>Mikkeli</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div style="margin-top:40px;">
          <h3 class="secondary-title">Latest news <a href="#"><span class="secondary-title-rss">RSS</span></a></h3>
          <dl>
            <dt class="date">9 November</dt>
            <dd class="title"><a href="#"><p>Second version of Lemon Slices jelly candies is now available in studio's stores</p></a></dd>
            <dt class="date">2 September</dt>
            <dd class="title"><a href="#"><p>Rossia Jewelry House website designed</p></a></dd>
            <dt class="date">12 August</dt>
            <dd class="title"><a href="#"><p>People’s Unity Day poster created</p></a></dd>
            <dt class="date">25 July</dt>
            <dd class="title"><a href="#"><p>Third version of paper cups for studio’s cafés designed</p></a></dd>
            <dt class="date">31 May</dt>
            <dd class="title"><a href="#"><p>Scout helicopter exterior, interior and interface created</p></a></dd>
          </dl>
        </div>
      </div>
      <div class="col-lg-6">
        <div>
        </div>
      </div>
    </div>
  </div>
</template>
