.block-city {
  padding: 40px;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-blend-mode: overlay;
  -webkit-background-blend-mode: overlay;
  -moz-background-blend-mode: overlay;
  -o-background-blend-mode: overlay;
  color: #fff;
}

.helsinki {
  background: #666 url(helsinki.jpg) center center no-repeat;
}

.tampere {
  background: #666 url(tampere.jpg) center center no-repeat;
}

.mikkeli {
  background: #666 url(mikkeli.jpg) center center no-repeat;
}

.block-city h1 {
  font-weight: bold;
  font-size: 22px;
  line-height: 2;
}

.cities {
  margin-bottom: 50px;
}

.section-heading {
  color: #212121;
  margin-top: 1em;
}

.date {
  font-size: 12px;
  font-weight: 400;
}

dd.title {
  font-size: 16px;
}

.secondary-title {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.secondary-title-rss {
  font-size: 18px;
  background-color: #FFCC00;
  padding: 2px;
  color: #fff;
}

.secondary-title-rss:hover {
  text-decoration: none;
  color: #fff;
  background-color: #E4B700;
}

.secondary-title-twitter {
  font-size: 18px;
  background-color: #50ABF1;
  padding: 2px;
  color: #fff;
  text-decoration: none;
}

.secondary-title-twitter:hover {
  text-decoration: none;
  color: #fff;
  background-color: #1C9BFD;
}

hr.primary {
  max-width: 9.12em;
  border-color: #03A9F4;
  border-width: 3px;
  margin-bottom: 0;
}

.block-city:hover {
  background-color: rgba(0,0,0,0.3);
}

.block-city-link:hover {
  text-decoration: none;
}
