@import url(https://fonts.googleapis.com/css?family=Roboto:400,600,500,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,600,500,700);

body {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Roboto', sans-serif;
}

header {
  background: url(/apiops_smth.png) no-repeat;
  background-size: 42%;
  background-position: 50% 135%;
}

.navbar-default .navbar-nav>li>a {
  color: #03A9F4;
  padding-top: 20px;
  font-size: 1.1em;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #0789C3;
  text-decoration: underline;
}

header {
  background-color: #E7F2FC;
}

.home_text{
  padding-top: 50px;
  padding-bottom: 260px;
}

.home_text h2 {
  color: #333;
  font-size: 40px;
}

.home_text p {
  color: #777;
  font-size: 18px;
}

.single_image {
  margin-right: 3px;
  position: relative;
  transition: all 1s;
}

.single_image img {
  width: 100%;
}

.single_image:hover div.image_overlay {
  opacity: 1;
}

.image_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(247,77,101,.9);
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 1s;

}

.image_overlay a {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.image_overlay h2 {
  position: absolute;
  bottom: 28px;
  left: 20px;
  font-size: 25px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.image_overlay h4 {
  position: absolute;
  bottom: 11px;
  left: 20px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

.no_padding {
  padding-left: 0px;
  padding-right: 0px;
}

.work_title h1, .contact_title h1 {
  font-size: 25px;
  color: #3d3d3d;
  letter-spacing: 5px;
  padding-top: 80px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.work_title img, .contact_title img {
  margin-bottom: 30px;
}

.work_title p, .contact_title p {
  font-size: 14px;
  color: #000;
  margin-bottom: 100px;
}

.last_padding {
  padding-right: 0px;
}

.pad_top {
  padding-top: 2px;
}

.left h2 {
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 18px;
  color: #000;
  font-weight: bold;
}

.left p {
  margin-bottom: 60px;
  font-size: 14px;
  color: #000;
}

.baton {
  margin-top: 65px;
}

.cs-btn, .cs-btn:active, .cs-btn:visited, .cs-btn:focus {
  color: #03A9F4;
  border-color: #03A9F4;
  border-radius: 0px;
  outline: none;
  padding: 10px 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: transparent;
}

.cs-btn:hover {
  background: #03A9F4;
  border-color: #03A9F4;
}

.call_to_action .container {
  padding-bottom: 60px;
  border-bottom: 1px solid #ddd;
}

footer {
  background-color: #f1f1f1;
  padding-top: 50px;
  padding-bottom: 50px;
}

.social {
  padding-top: 65px;
}

.social h2 {
  text-transform: uppercase;
  font-size: 16px;
}

ul.icon_list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  margin-top: 20px;
}

ul.icon_list li {
  display: inline;
  padding-left: 3px;
  padding-right: 3px;
}

ul.icon_list li a {
  display: inline-block;
  color: #636363;
  border: 1px solid #636363;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 28px;
  transition: all 1s;
}

ul.icon_list li a:hover {
  color: #f73b56;
  border-color:#f73b56;
}

.copyright_text p {
  color: #636363;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 0px;
  letter-spacing: 0px;
}

.copyright_text a {
  color:#f73b56;
  text-transform:uppercase;
  font-weight:700;
  text-decoration:none;
}
