<template name="tools">
  <div class="container">
    <div class="row" style="margin-top:40px;">
      <div class="col-lg-12">
        <h3 class="secondary-title">Tools we are using</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 col-md-3">
        <a href="#" class="thumbnail tool">
          <img src="mailchimp.png" class="img-responsive">
        </a>
      </div>
      <div class="col-xs-3 col-md-3">
        <a href="#" class="thumbnail tool">
          <img src="dropbox.png" class="img-responsive">
        </a>
      </div>
      <div class="col-xs-3 col-md-3">
        <a href="#" class="thumbnail tool">
          <img src="heroku.png" class="img-responsive">
        </a>
      </div>
      <div class="col-xs-3 col-md-3">
        <a href="#" class="thumbnail tool">
          <img src="typecast.png" class="img-responsive">
        </a>
      </div>
    </div>
  </div>
</template>
